body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    transition: transform 0.3s;
}
header:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(63, 69, 74);
    color: rgb(255, 255, 255);
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.features {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.feature {
    background: #f4f4f4;
    padding: 20px;
    flex: 1;
    border-radius: 8px;
}


.feature:hover {
    cursor: pointer;
    background-color: aliceblue;
}

@media (max-width: 600px) {
    .features {
        flex-direction: column;
    }
}